/**********************
        GeneralRule
***********************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --header:#000000;
    --navbar:#080b12;
    --lgMain:#080b12;
    --footer:#282828;
}

body{
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

/**************
    Components
***************/
.containerFull{
    width: 100%;
    min-height: 90vh;
}

.borderBottom{
    border-bottom: 1px solid grey;
}

.userFrame{
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: lightgray;

}

.fs13{font-size: 13px;}

.btn{
    padding:0.5rem 0.8rem;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    background-color: #000000;
}


.btnXL{
    font-size: 16px;
    font-weight: 800;
    padding:1rem 2rem;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 10em;
    border: 1px solid white;
}
/* dimensioni */


/* color */
.bg-primary{background-color: var(--header);}

.bg-secondary{background-color:var(--navbar) ;}

.bg-main{background-color:var(--lgMain) ;}

.bg-footer{background-color:var(--footer) ;}



/**********************
        Project
***********************/

/*********
    HEADER
**********/

.header{
    width: 15%;
    min-height: 90vh;
}
/* top */
.logoBox{
    width: 100%;
    max-width: 9rem;
}

.linkHeader{
    padding-left: 1rem;
}

.squereIcon{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: grey;
}
/* bottom */
.menuUser ul li{
    padding:0.5rem 0;
}

/*********
    MAIN
**********/
.main{
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
}

.gender ul li{
    padding: 0.5rem;
}
/* navbar */
.navbar{
    width: 100%;
    height: 4rem;
    background-color: rgb(241, 124, 124);
    position: sticky;
    top: 0;
}

.cardBox{
    width: 100%;
}

.card{
    width: calc(100% / 6);
}

.cardImg {
    width: 100%;
}

/*********
    Footer
**********/
.footer{
    width: 100%;
    height:10vh;
}

.footer img{
    object-fit: contain;
    width: 4vw;
    margin-right: 1rem;
    
}


.progresBar{
    height: 0.2rem;
    width: 20vw;
    border-radius: 10px;
    background-color: lightslategray;
}

.progres{
    background-color: #000000;
    width: 20%;
    height: 0.2rem;
    border-radius: 10px;
}

.volBar{
    height: 0.2rem;
    width: 10vw;
    border-radius: 10px;
    background-color: lightslategray;
}

.vol{
    background-color: #000000;
    width: 20%;
    height: 0.2rem;
    border-radius: 10px;
}

@media screen and (max-width:1143px) {


    .header{
        min-width: 147px;
    }

    .card{
        width: calc(100% / 4 - 10px);
    }

    .cardBox{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:985px) {
    .header{
        min-width: 147px;
    }

    .card{
        width: calc(100% / 2 - 10px);
    }

    .cardBox{
        display: flex;
        flex-wrap: wrap;
    }

    .navbar{
        min-height: 90px;
        position: absolute;
        bottom: 0;
        z-index: 12;
    }
}

@media screen and (max-width:610px) {
    .footer p{
        font-size: 13px;
    }

    .nameSong{
        display: none;
    }
}

@media screen and (max-width:450px) {

}