/**************
    GeneralRule
***************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header:#000000;
    --navbar:#080b12;
    --lgMain:#080b12;
    --footer:#282828;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

body{
    overflow-y: hidden;
}

.col-1-2{
    width: calc(100% / 2);
}

.header a,
.header li,
.header p{
    display: none;
    color: white;
}

/**************
    Utility
***************/
.padIcont{
    font-size: 3.5vw;
    padding: 0.3em;
}

.ScreenOff{
    display: none;
}

.ScreenOn{
    display: block;
}

.overFlow{
    overflow-y: scroll;
}

.borderBottom{
    border-bottom: 1px solid grey;
}

/* color */
.bg-primary{background-color: var(--header);}

.bg-secondary{background-color:var(--navbar) ;}

.bg-main{background-color:var(--lgMain) ;}

.bg-footer{background-color:var(--footer) ;}


/**************
    header
***************/
.header{
    width: 4rem;
}

.logoSmall{
    width: 32px;
}

.squereIcon{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: grey;
}

.createPlaylist{
    max-height: 10rem;
}

/**************
    main
***************/
.main{
    width: 100%;
    height: calc(100vh - 90px);
}

.hero{
    width: 100%;
    max-height: 100%;
}

.navBar{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}

.btnXL{
    font-size: 16px;
    font-weight: 800;
    padding:1vw 4vw;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 10em;
    border: 1px solid white;
}

.navLink ul li{
    padding: 0.2rem;
    font-size: 13px;
}

.userFrame{
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: lightgray;
}

/* card */
.cardBox{
    width: 100%;
}

.card{
    width: calc(100% / 2 - 10px);
}

.cardImg {
    width: 100%;
}

/**************
    Footer
***************/

.footer{
    height: 90px;
}

.footer img{
    width: 50px;
    object-fit: contain;
}

.nameSong{
    font-size: 12px;
}

.progresBar{
    height: 0.2rem;
    width: 20vw;
    border-radius: 10px;
    background-color: lightslategray;
}

.progres{
    background-color: #000000;
    width: 20%;
    height: 0.2rem;
    border-radius: 10px;
}

.volBar{
    height: 0.2rem;
    width: 10vw;
    border-radius: 10px;
    background-color: lightslategray;
}

.vol{
    background-color: #000000;
    width: 20%;
    height: 0.2rem;
    border-radius: 10px;
}

/**************************************
        MobileL
***************************************/
@media screen and (min-width: 425px) {
    
    .padIcont{
        font-size: 1rem;
        padding: 0.3em;
    }

    .footer .volPlayer{
        flex-direction: row;
    }
}

/**************************************
        Tablet
***************************************/
@media screen and (min-width: 768px) {
    .card{
        width: calc(100% / 4 - 10px);
    }
    .header{
        padding: 0.5rem;
    }

    .ScreenOn{
        display: none;
    }

    .ScreenOff{
        display: block;
    }

    .header a,
    .header li,
    .header p{
    display: block;
    padding-left: 0.2rem;
    }

    .createPlaylist li{
    padding: 0.4rem 0;
    }

    .padIcont{
        font-size: 1.2rem;
        padding: 0.5em;
    }

    .header{
        width: 10rem;
    }
}

/**************************************
        Laptop
***************************************/
@media screen and (min-width: 1024px) {
    .card{
        width: calc(100% / 6 - 10px);
    }
    .btnXL{
        font-size: 16px;
        font-weight: 800;
        padding:0.5rem 4rem;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        border-radius: 10em;
}

/**************************************
        Laptop L
***************************************/